.btn {
  $self: &;

  &--icon-only {
    &#{$self}--small {
      width: var(--control-height-small);
    }

    &#{$self}--medium {
      width: var(--control-height-medium);
    }

    &#{$self}--large {
      width: var(--control-height-large);
    }
  }
}
