.btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  display: inline-flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
  }

  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
