:root {
  --base-01: 255, 255, 255;
  --base-02: 245, 247, 250;
  --base-03: 228, 231, 237;
  --base-04: 220, 223, 230;
  --base-05: 168, 171, 178;
  --base-06: 96, 98, 102;
}

:root {
  --primary: 45, 105, 255;
  --danger: 239, 78, 78;
  --success: 80, 200, 120;
}
