/**
* Variables for control UI elements
*/

:root {
  --control-height-small: 24px;
  --control-height-medium: 40px;
  --control-height-large: 48px;

  // Border radius
  --control-br-small: 7px;
  --control-br-medium: 12px;
  --control-br-large: 12px;
}
