/**
* Variables for control UI elements
*/

:root {
  // Height
  --control-height-small: 24px;
  --control-height-medium: 40px;
  --control-height-large: 48px;

  // Border radius
  --control-br-small: 7px;
  --control-br-medium: 12px;
  --control-br-large: 12px;

  // Font size
  --control-fz-small: 11px;
  --control-fz-medium: 13px;
  --control-fz-large: 15px;

  // Padding
  --control-px-small: 8px;
  --control-px-medium: 12px;
  --control-px-large: 20px;
}
