.loader {
  cursor: pointer;
  pointer-events: none;
  display: flex;

  &__circle {
    position: relative;
    display: inline-flex;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.3);
    border-top-color: rgb(var(--danger), #fff);
    animation: spin 0.8s ease infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
